body {
    background: #a110e9;
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;

}

.container{
    width: 20%;
    margin: auto;
    margin-top: 30px;
    box-sizing: border-box;
    border: 1px solid #fbf6f6;
    box-shadow: 10px 30px 40px 10px rgba(230, 226, 226, 0.5);
    border-radius: 10px;
    height: 250px;
    text-align: center;
    align-items: center;
    padding: 20px;
    background: #fff;
}


button{
    margin: 20px;
    background-color: #fff;
    border: 1px solid rgb(191, 188, 188);
    border-radius: 5px;
    padding: 5px 10px;
}